/* Footer */
.footer {
  /* footer */
  position: absolute;
  width: 194px;
  height: 16px;
  left: 543px;
  top: 1968px;
}

.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #ffffff;
  margin: 0;
}
