/* Header */
.header {
  position: absolute;
  width: 254.84px;
  height: 68.94px;
  top: 34px;
  bottom: 1905.06px;
  left: 513px;
  text-align: center;
}

.header__logo {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 111.42px;
  top: 0px;
  bottom: 0px;
}

.header__title {
  position: absolute;
  width: 254.84px;
  height: 14.94px;
  left: 0;
  top: 54px;
}
