.header {
  width: 984px;
  margin: 0 auto;
}

.header__logo {
  margin: 30px auto 0px;
  width: 254px;
}

.header__title {
  margin: 10% auto 0px;

  font-weight: bold;
  font-size: 96px;
  line-height: 1.15;
  text-align: center;
}

.header__subtitle {
  margin: 30px auto 0px;
  width: 720px;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
.header__image {
  width: 984px;
  margin: 64px auto;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 984px) {
  .header {
    width: 100vw;
    margin: 0 auto;
  }

  .header__image {
    width: 100vw;
    margin: 64px auto;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100vw;
    margin: 0 auto;
  }
  .header__title {
    font-size: 75px;
    line-height: 1.5;
  }
  .header__subtitle {
    width: 100vw;
    font-size: 30px;
    line-height: 1.5;
  }
  .header__image {
    width: 100vw;
    margin: 30px auto;
  }
}

@media screen and (max-width: 544px) {
  .header {
    width: 100vw;
    margin: 0 auto;
  }
  .header__logo {
    margin: 0 auto 0px;
    width: 188px;
  }
  .header__title {
    margin: 50px auto 0px;
    font-size: 40px;
    line-height: 1.5;
  }
  .header__subtitle {
    width: 100vw;
    font-size: 16px;
    line-height: 1.5;
  }
  .header__image {
    width: 100vw;
    margin: 40px auto;
  }
}
