/* lead Section */
.lead {
  position: absolute;
  width: 984px;
  height: 983px;
  left: 148px;
  top: 194px;
}

.lead__title {
  width: 720px;
  height: 200px;
  left: 280px;
  top: 194px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.lead__subtitle {
  /* __subtitle */
  width: 720px;
  height: 72px;
  left: 280px;
  top: 426px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead__rectangle {
  position: absolute;
  width: 984px;
  height: 615px;
  left: 148px;
  top: 562px;
  background: #000000;
  mix-blend-mode: hue;
}

.lead__image {
  width: 984px;
  height: 615px;
  left: 148px;
  top: 562px;
}

/* intro Section */
.intro {
  position: relative;
  width: 830px;
  height: 607px;
  left: 148px;
  top: 1269px;
}

.intro__title {
  width: 830px;
  height: 173.92px;
  right: 302px;
  top: 1269px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* or 107% */
  color: #ffffff;
  margin: 0 auto;
}

.intro__quote {
  /* or 107% */
  width: 738px;
  height: 135.66px;
  right: 394px;
  top: 1482.91px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  color: #ffffff;
  margin-left: 0;
}

.intro__quote cite {
  /* __text */
  width: 732px;
  height: 33.91px;
  right: 400px;
  top: 1628.56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  text-align: right;
  color: #ffffff;
}

.intro__text {
  /* __text */
  width: 722px;
  height: 181.54px;
  right: 410px;
  top: 1694.46px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
  color: #ffffff;
}
