.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin: 0 auto;
}

body {
  background-color: #2a2c2f;
}
