  .page {
    background-color: #2a2c2f;
    max-width: 1280px;
    min-height: 2008px;
    font-family: "Inter";
  }

  @media screen and (max-width: 1024px) {
    .page {
      width: 768px;
      height: 1742px;
      background-color: #2a2c2f;
      font-family: "Inter";
    }
  }

  @media screen and (max-width: 544px) {
    .page {
      width: 320px;
      height: 1705px;
      background-color: #2a2c2f;
      font-family: "Inter";
    }
  }
}
