@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/footer.css");

/* Tamaño de pantalla grande (1280px) */
@media (min-width: 1025px) {
  body {
    width: 1280px;
    height: 2008px;
    position: relative;
  }
}

/* Tamaño de pantalla mediana (768px) */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    width: 768px;
    height: 1742px;
  }
}

/* Tamaño de pantalla pequeña (320px) */
@media (max-width: 480px) {
  body {
    width: 320px;
    height: 1705px;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  color: #fff;
}
